body {
	padding-top: 60px;
    font-size: 12px;
}

ul.nav {
    font-size: 14px;
}

.navbar-brand {
	color: #000000;
	font-weight: bold;
	margin-left: 0;
	margin-right: 20px;
	padding-right: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px
		rgba(255, 255, 255, 0.125);
}

.nav-stacked .nav-header {
	margin-bottom: 10px;
	font-size: 18px;
}

body#login {
	padding-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.navbar .brand:hover {
	color: #0099ff;
}

/* added to fix non clickable dropdown nested menus on mobile browsers APF-1384 */
.navbar .dropdown-backdrop {
	position: static;
}

#switchLocale {
	position: absolute;
	right: 10px;
}

h1,h2 {
	margin-bottom: 10px;
}

#content {
	padding-bottom: 60px;
}
.container > .row {
    margin-left: -45px;
    margin-right: -45px
}
.modal .row {
    margin-left: 0px;
    margin-right: 0px;
}
.row h2 {
	margin-top: 0;
}

/* FORMS */
.controls.readonly {
	padding-top: 5px;
}

.well.form-horizontal .form-actions {
	margin-bottom: 0;
}

.btn-group {
	margin-bottom: 10px;
}

.btn-group .btn,.form-actions .btn {
	margin-left: 5px;
}

#search {
	float: right;
	margin-top: -40px;
	width: 250px;
}

#search input[type="text"] {
	display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    padding: 8px 8px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #666;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-login-header {
    font-weight: bold;
    font-family: 'Droid Sans', sans-serif;
    font-size: xx-large;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#login p {
	text-align: center
}

/* When using Wicket tag id can be overridden - using class here seems to more universal */
.login p {
	text-align: center
}

/* TABLES */
th.sorted a,th.sortable a {
	display: block;
}

.table th.order1 a {
	background-image: url(../images/arrow_down.png);
}

.table th.order2 a {
	background-image: url(../images/arrow_up.png);
}

.table th.sorted a,.table th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
}

div.exportlinks a {
	text-decoration: none;
}

div.exportlinks span {
	background-repeat: no-repeat;
	background-position: 1px 2px;
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.export {
	cursor: pointer;
	display: inline-block;
	padding: 0 4px 1px 20px;
}

span.pagebanner {
	display: block;
	margin: 0 0 0 10px;
	padding: 2px 4px 2px 0;
}

span.pagelinks {
	display: block;
	font-size: .95em;
	margin-bottom: 5px;
	margin-top: -18px;
	padding: 2px 0 2px 0;
	text-align: right;
	width: 100%;
}

/* Set the fixed height of the footer here */
#footer {
	background-color: #f5f5f5;
}

/* FOOTER */
#footer {
	clear: both;
	margin: 0 auto;
	padding: 5px 0 1px 0;
	border-top: 2px solid #E0E0B1;/*#f0f0f0;*/
	text-align: center;
	background-color: white;
	color: #808080;
	font-size: 0.9em;
}

#footer a {
	color: #808080;
	text-decoration: none;
	margin-left: 5px;
}

#footer a:hover {
	text-decoration: underline;
}

#footer p {
	margin: 0;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media ( min-width : 1200px) {
}

/* Desktop
------------------------- */
@media ( max-width : 980px) {
}

/* Tablet to desktop
------------------------- */

/* Tablet
------------------------- */
@media ( max-width : 767px) {
}

/* Landscape phones
------------------------- */
@media ( max-width : 480px) {
	#search {
		float: none;
		margin-top: 0;
	}
}

/* Wicket */
.table thead tr th.wicket_orderDown a {
	background-image: url(../images/arrow_down.png) !important;
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
	/*padding-right: 15px;*/
}

.table thead tr th.wicket_orderUp a {
	background-image: url(../images/arrow_up.png) !important;
	background-position: right center;
	background-repeat: no-repeat;
	display: block;
}

/* Fix for Bootstrap theme errors in PrimeFaces: http://forum.primefaces.org/viewtopic.php?f=9&t=19250&start=10 */
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error
	{
	background: url("") repeat-x scroll 50% 50% #CD0A0A;
	border: 1px solid #CD0A0A;
	color: #FFFFFF;
}

table.crashform-blue {
	border: solid 1px black;
	border-collapse: collapse;
}

table.innerTable {
    border: none !important;
}

table.innerTable td {
    border: none !important;
}

table.crashform-blue td {
    color: #000;
    vertical-align: top;
    background-color: #FFF;
	border: solid 1px #000;
	padding: 3px !important;
}

table.crashform-blue th {
	border: solid 1px black;
	background-color: #2B65EC !important;
	color: #FFF !important;
	text-align: center;
}

table.crashtr.standout:hover {
    background-color: #FFEBCD !important;
}

.form-label {
	color: #000;
	font-weight: normal;
}

table.crashform-gray {
	border: solid 1px black;
	border-collapse: collapse;
}

table.crashform-gray td {
	border: solid 1px #000;
	padding: 0px;
	color: #000;
	background-color: #FFF;
	vertical-align: top;
}

table.crashform-gray th {
	border: solid 1px black;
	background-color: #BCC6CC;
	color: #000;
	text-align: center;
}

table.crashform-gray tr:hover {
    background-color: #F5F1F1 !important;
}

/*form#crashform input[type="text"], select {*/
	/*padding: 2px 5px !important;*/
	/*line-height: 10px !important;*/
	/*height: 25px !important;*/
	/*font-size: 14px;*/
/*}*/

.right-al {
	text-align: right;
}
.boldText {
	font-weight: bold;
}
td.underlined {
	border-bottom: solid 1px black;
	padding-left: 4px;
}
td.padd2 {
	padding: 2px !important;
}
td.blue-header {
	background-color: #2B65EC !important;
	color: #FFF !important;
	text-align: center;
}
td.orange-header {
    font-weight: bold;
    color: #FFF !important;
    padding: 4px !important;
    background-color: #EDB32B !important;
 }
.drop-shadow {
    box-shadow: 1px 1px 2px #333;
}

.loginBox
{
    width: 350px;
    /*border-color: #E0E0B1;*/
    border: solid 1px #C0C0C0;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 3px 3px 3px #999;
    -moz-box-shadow: 3px 3px 3px #999;
}

.content-wrapper {
    padding: 5px;
    overflow-x: auto;
    border: solid 1px #C0C0C0;
}

.min-page-height {
    min-height: 700px;
}

.height-100 {
    height: 100% !important;
}

.border-solid {
    border: 1px solid;
}

.bot-pad-36 {
    padding-bottom: 36px !important;
}

table.infoWindow {
    color: #000000;
}
table.infoWindow th {
    text-align: center;
    font-size: 14px;
}
table.infoWindow td {
    padding: 2px 2px 2px 2px;
}

td.borderHighlight{
    border-top: 2px solid orange !important;
    border-bottom: 2px solid orange !important;
}
table.tabulated-data {
    border: solid 1px black;
    border-collapse: collapse;
    width: 100%;
}
table.tabulated-data th {
    border: solid 1px black;
    background-color: #2B65EC;
    color: #FFF;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
table.tabulated-data td {
    border: solid 1px #000;
    padding: 5px;
    color: #000;
    background-color: #FFF;
    font-size: 14px;
}
table.tabulated-data tfoot {
    font-weight: bold;
}
.crashCount {
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto
    color: #FFA62F;
    font-weight: bold;
}
table.stats-tab {
    width:100%;
    margin-top: 20px;
}
table.stats-tab td {
    padding: 5px;
    vertical-align: top;
}
.notification {
    width: 30%;
    right: 3%;
    margin-top: -15px;
    position: absolute;
    z-index: 10;
    box-shadow: 10px 10px 5px #888888;
}
table.crosstab-orange {
    border: solid 1px black;
    border-collapse: collapse;
    min-width: 100%;
}
table.crosstab-orange td {
    border: solid 1px #2C6CAF;
    padding: 3px;
    color: #000;
    background-color: #FFF;
    vertical-align: top;
}
table.crosstab-orange th {
    border: solid 1px #2C6CAF;
    background-color: #EDB32B;
    padding: 5px;
    color: #FFF;
    text-align: center;
}
table.crosstab-orange th.total {
    color: #000000;
    background-color: #F5F5DC;
}
table.crosstab-orange tr:hover {
    background-color: #F5F1F1 !important;
}
table.crosstab-orange tfoot td, td.crosstab-cell.total {
    font-weight: bold;
    background-color: #F5F5DC;
}
table.crosstab-orange tfoot td:not(:first-child) {
    text-align: right;
}
td.crosstab-cell {
    text-align: right;
    padding: 4px !important;
}
.height-130 {
    height: 130px;
    overflow-y: auto;
}
.query-label {
    float: left;
    color: #151B8D;
    font-size: 10px;
    font-weight: bold;
    padding-right: 5px;
}
.query-value {
    font-size: 10px;
    padding-right: 5px;
}
#query-summary {
    float: right;
    padding: 4px;
    display: none;
    overflow-y: auto;
    min-width: 800px;
    max-height: 200px;
    margin-bottom: 5px;
    box-shadow: 2px 2px;
    border: solid 1px #8C8615;
}
#query-summary td {
    vertical-align: top;
}
#query-summary h6 {
    color: #151B8D;
    font-weight: bold;
    text-align: center;
}
#query-summary table {
    width: 100%;
}
.drawing-actions td {
    padding-left: 20px;
}
.save-query {
    width: auto;
    float: right;
}
.query-form, .query-form table {
    width: 100%;
}
.query-form td {
    padding: 6px;
    vertical-align: top;
}
.query-form .query-label, .query-form .query-value {
    font-size: 12px;
}
.ui-dialog-content {
    background-color: #FFFFFF !important;
}
.loading div {
    text-align: center;
}
.loading .modal-header {
    border-bottom-width: 0px;
}
.modal {
    top: 35%;
    width: auto;
    min-width: 30%;
    max-width: 75%;
    color: #000000;
    margin-left: auto;
}
.modal-title {
    color: #800000;
    font-weight: bold;
}
.modal-footer {
    margin-top: 0px;
}
.modal-scrollable {
    z-index: 2000 !important;
}
.modal-backdrop.in, .ui-widget-overlay {
    opacity: 0.5 !important;
    background-color: #000000 !important;
}
.ui-widget-overlay {
    background-image: none;
}
.ui-datepicker {
    z-index: 2000 !important;
}
.auto-map {
    height: 200px;
    margin: -105px -26px -2px -3px;
}
.pager {
    margin: 0px;
}
.toggle-menu {
    float: left;
    font-size: 0px;
    margin-bottom: 5px;
    border-radius: 6px;
    background: #ECEEEF;
    border-bottom: #CCCCCC 3px solid;
}
.toggle-menu div {
    padding: 8px;
    display: inline-block;
}
.toggle-menu div:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.toggle-menu div:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.toggle-menu a {
    color: #404040;
    font-size: 12px;
    text-decoration: none;
}
.toggle-menu a:hover {
    text-decoration: none;
}
.toggle-menu div.active {
    background: #4FB845;
}
.toggle-menu div:not(.active) {
    cursor: pointer;
}
.toggle-menu div.active > a {
    color: #FFFFFF;
    cursor: default;
}
.toggle-menu div:not(.active):hover {
    background: #47A8D8;
}
.toggle-menu div:not(.active):hover > a {
    color: #FFFFFF;
}
.pager .toggle-menu {
    float: right;
}