<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!-- Activates scanning of @Repository and @Service -->
	<context:component-scan base-package="com.sweroad" />

	<!-- Add new DAOs here -->

	<!-- Add new Managers here -->
	<bean id="crashSeverityManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CrashSeverity" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="collisionTypeManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CollisionType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="crashCauseManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CrashCause" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="vehicleFailureTypeManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.VehicleFailureType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="weatherManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.Weather" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="surfaceConditionManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.SurfaceCondition" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="roadSurfaceManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.RoadSurface" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="surfaceTypeManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.SurfaceType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="roadwayCharacterManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.RoadwayCharacter" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="junctionTypeManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.JunctionType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="vehicleTypeManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.VehicleType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="casualtyClassManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CasualtyClass" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="casualtyTypeManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CasualtyType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="policeStationManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.PoliceStation" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="districtManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.District" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="driverManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.Driver" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="vehicleManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.Vehicle" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="casualtyManager" class="com.sweroad.service.impl.GenericManagerImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.Casualty" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
    <bean id="auditManager" class="com.sweroad.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.Audit" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="genericCrashManager" class="com.sweroad.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.Crash" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="searchCriteriaManager" class="com.sweroad.service.impl.SearchCriteriaManagerImpl" />
</beans>