<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!-- Activates scanning of @Repository and @Service -->
	<context:component-scan base-package="com.sweroad" />

	<!-- Add new DAOs here -->

    <bean id="patientDao" class="com.sweroad.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="com.sweroad.model.Patient" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="systemParameterDao" class="com.sweroad.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="com.sweroad.model.SystemParameter" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<!-- Add new Managers here -->
    <bean id="crashSeverityService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.CrashSeverity" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
	<bean id="collisionTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CollisionType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="crashCauseService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CrashCause" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="vehicleFailureTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.VehicleFailureType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="weatherService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.Weather" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="surfaceConditionService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.SurfaceCondition" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="roadSurfaceService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.RoadSurface" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="surfaceTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.SurfaceType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="roadwayCharacterService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.RoadwayCharacter" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="junctionTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.JunctionType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="vehicleTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.VehicleType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="casualtyClassService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CasualtyClass" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="casualtyTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.CasualtyType" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="policeStationService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.PoliceStation" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="districtService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.District" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
	<bean id="driverService" class="com.sweroad.service.impl.GenericServiceImpl">
		<constructor-arg>
			<bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
				<constructor-arg value="com.sweroad.model.Driver" />
				<property name="sessionFactory" ref="sessionFactory" />
			</bean>
		</constructor-arg>
	</bean>
    <bean id="auditService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.Audit" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="genericCrashService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.Crash" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="queryService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.Query" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="injuryTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.InjuryType" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="hospitalService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.Hospital" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="patientDispositionService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.PatientDisposition" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="patientStatusService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.PatientStatus" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="roadUserTypeService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.RoadUserType" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="transportModeService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.TransportMode" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="patientInjuryService" class="com.sweroad.service.impl.GenericServiceImpl">
        <constructor-arg>
            <bean class="com.sweroad.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.sweroad.model.PatientInjuryType" />
                <property name="sessionFactory" ref="sessionFactory" />
            </bean>
        </constructor-arg>
    </bean>
</beans>