<!-- NOTE: If you're working offline, you might have to change the DOCTYPE 
	to the following: <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate 
	Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.sweroad.model.User" />
		<mapping class="com.sweroad.model.Role" />
        <mapping class="com.sweroad.model.Audit" />
        <mapping class="com.sweroad.model.Query" />
        <mapping class="com.sweroad.model.Crash" />
        <mapping class="com.sweroad.model.Driver" />
        <mapping class="com.sweroad.model.Weather" />
        <mapping class="com.sweroad.model.Vehicle" />
        <mapping class="com.sweroad.model.Patient" />
        <mapping class="com.sweroad.model.Hospital" />
		<mapping class="com.sweroad.model.Casualty" />
        <mapping class="com.sweroad.model.District" />
        <mapping class="com.sweroad.model.InjuryType" />
        <mapping class="com.sweroad.model.CrashCause" />
        <mapping class="com.sweroad.model.VehicleType" />
        <mapping class="com.sweroad.model.RoadSurface" />
        <mapping class="com.sweroad.model.SurfaceType" />
        <mapping class="com.sweroad.model.CasualtyType" />
        <mapping class="com.sweroad.model.RoadUserType" />
        <mapping class="com.sweroad.model.JunctionType" />
        <mapping class="com.sweroad.model.PoliceStation" />
        <mapping class="com.sweroad.model.TransportMode" />
		<mapping class="com.sweroad.model.CasualtyClass" />
		<mapping class="com.sweroad.model.CollisionType" />
		<mapping class="com.sweroad.model.CrashSeverity" />
        <mapping class="com.sweroad.model.PatientStatus" />
        <mapping class="com.sweroad.model.SystemParameter" />
		<mapping class="com.sweroad.model.RoadwayCharacter" />
		<mapping class="com.sweroad.model.SurfaceCondition" />
        <mapping class="com.sweroad.model.PatientInjuryType" />
		<mapping class="com.sweroad.model.VehicleFailureType" />
        <mapping class="com.sweroad.model.PatientDisposition" />
	</session-factory>
</hibernate-configuration>